.myContainer{
    border: 4px solid blue;
    border-radius: 9px;
    margin: 20px;
    box-shadow: 10px 4px rgba(00, 00, 00, 0.6);
    width: 1000px;
    margin-left: 210px;
   
}

.myContainer:hover{
    border: 2px solid red;
}